@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

body {
    background: #242424;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}

.logo-name {
    color: #D9D9D9;
    font-family: "Nico Moji";
    font-size: 50px;
    font-weight: normal;
    position: relative;
    left: 180px;
    top: 10px;
}

#logo-img {
    width: 74px;
    height: 73px;
    position: absolute;
    left: 120px;
    top: 5px;
}

.navigation {
    position: relative;
    right: 100px;
    top: 20px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative; display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    display: block;
    position: relative;
    z-index: 1;
}

.navigation ul li a:hover {
    font-weight: 500;
}

.line {
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #FF4900 37.5%, #FFB822 100%);
    border-radius: 20px;
    bottom: 0;
    left: 0;
    display: none;
}


#home-nav {
    position: relative;
}

#home-nav .line {
    display: block;
}

.banner {
    position: relative;
    width: 580px; 
    height: 580px; 
    margin-top: -18px;
    margin-left: 150px;
    transform: scale(0.9);
}

.banner picture img {
    position: relative;
    z-index: 2;
    width: 100%; 
    height: 100%; 
    top: 40px;
    right: 41px;
}

.banner .rec-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner .rec-1 {
    position: absolute;
    width: 515px;
    height: 550px;
    left: 65px; 
    top: 15px; 
    border: 15px solid #FF4900;
}

.banner .rec-2 {
    position: absolute;
    width: 515px;
    height: 550px;
    left: 35px; 
    top: 45px; 
    background: linear-gradient(180deg, rgba(255, 73, 0, 0.32) 5%, rgba(153, 44, 0, 0.32) 35%);
    border: 15px solid #FF4900;
}

.banner .frame-bar-1{
    position: absolute;
    width: 580px;
    height: 15px;
    left: -248px;
    top: 328px;
    background: #FF4900;
    transform: rotate(-90deg);
    z-index: 3;
}

.banner .frame-bar-2{
    position: absolute;
    width: 530px;
    height: 15px;
    left: 50px;
    top: 610px;
    background: #FF4900;
    z-index: 3;
}

.banner-name{
    position: absolute;
    width: 1040px;
    height: 293px;
    left: -100px;
    top: 550px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
    text-align: center;
    letter-spacing: 0.38em;

    color: #D9D9D9;
    z-index: 4;
}

.surname{
    color: #FF4900;
}

.main-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.developer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    left: 0px;
    background: rgba(217, 217, 217, 0.31);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.developer-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-left: auto;
    margin-right: 20px;
    color: #FFFFFF;
}

.nickname{
    color: #FF4900;
    font-weight: 700;
}

.description {
    margin-right: 180px;
    padding: 0; 
    margin-top: 50px;    
    margin-bottom: 20px;
}

.context-heading, .context-para {
    text-align: center;
    margin: 0 auto; 
}

.context-heading-box{
    display: flex;
    flex-direction: row;
}

.context-bar{
    width: 15px;
    height: 153px;
    background: linear-gradient(180deg, #FF4900 37.5%, #FFB822 100%);
    border-radius: 20px;
}

.context-heading{
    width: 752px;
    height: 221px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}

.context-para{
    width: 623px;
    height: 116px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.social-links-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.social-links{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 25px; 
    margin-bottom: 20px;
}

.social-links img {
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}

.social-links img:last-child {
    margin-right: 0; 
}

.facebook{
    transform: scale(1.2);
}

.facebook:hover{
    transform: scale(1.3)!important;
} 

.button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#learn-more {
    width: 283px;
    height: 66.34px; 
    background-color: #FF4900;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}

#learn-more:hover {
    background-color: #D84300;
}

/*@media screen and (max-width: 480px){
    .App{
      padding: 0 20px;
    }
  
    .menuContainer{
      padding: 30px 0px;
      width: unset;
      left: 15px;
    }
  
    main{
      margin-left: 75px;
    }           
}*/


/*@media all and (min-width: 1000px) {
    body{
        background: #D84300;
    }
    
}*/
  

