@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

body {
    background: #242424;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}

.logo-name {
    color: #D9D9D9;
    font-family: "Nico Moji";
    font-size: 50px;
    font-weight: normal;
    position: relative;
    left: 180px;
    top: 10px;
}

#logo-img {
    width: 74px;
    height: 73px;
    position: absolute;
    left: 120px;
    top: 5px;
}

.navigation {
    position: relative;
    right: 100px;
    top: 20px;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin-left: 57px;
}

.navigation ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: #FFFFFF;
}

.navigation ul li a:hover {
    font-weight: 500;
}

.banner {
    position: relative;
    width: 580px; 
    height: 580px; 
    margin-top: -18px;
    margin-left: 150px;
    transform: scale(0.9);
}

.banner picture img {
    position: relative;
    z-index: 2;
    width: 100%; 
    height: 100%; 
    top: 40px;
    right: 41px;
}

.banner .rec-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner .rec-1 {
    position: absolute;
    width: 515px;
    height: 550px;
    left: 65px; 
    top: 15px; 
    border: 15px solid #FF4900;
}

.banner .rec-2 {
    position: absolute;
    width: 515px;
    height: 550px;
    left: 35px; 
    top: 45px; 
    background: linear-gradient(180deg, rgba(255, 73, 0, 0.32) 5%, rgba(153, 44, 0, 0.32) 35%);
    border: 15px solid #FF4900;
}

.banner .frame-bar-1{
    position: absolute;
    width: 580px;
    height: 15px;
    left: -248px;
    top: 328px;
    background: #FF4900;
    transform: rotate(-90deg);
    z-index: 3;
}

.banner .frame-bar-2{
    position: absolute;
    width: 530px;
    height: 15px;
    left: 50px;
    top: 610px;
    background: #FF4900;
    z-index: 3;
}

.banner-name{
    position: absolute;
    width: 1040px;
    height: 293px;
    left: -100px;
    top: 550px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
    text-align: center;
    letter-spacing: 0.38em;

    color: #D9D9D9;
    z-index: 4;
}

.surname{
    color: #FF4900;
}

.main-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.developer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    left: 0px;
    background: rgba(217, 217, 217, 0.31);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.developer-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-left: auto;
    margin-right: 20px;
    color: #FFFFFF;
}

.nickname{
    color: #FF4900;
    font-weight: 700;
}
